<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>
        <section id="wrapper">
            <article class="post">
                <header>
                    <h1>{{ page.title }}</h1>
                    <h2 class="headline">{{ page.date | date_to_string }}</h2>
                </header>
                {% if page.music-id.nil? %}
                <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=100% height=100% src=//music.163.com/outchain/player?type=2&id={{ page.music-id }}&auto=1&height=66'></iframe>
                {% endif %}
                <section id="post-body">
                    {{ content }}
                </section>
            </article>

            <div id="disqus_thread"></div>
            <script type="text/javascript">
                var disqus_shortname = 'alshin';
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

            <footer id="footer">
                <div id="social">
                    <a class="symbol" href="https://github.com/yundshang">
                      <i class="fa fa-github"></i>
                    </a>
                    <a class="symbol" href="https://twitter.com">
                      <i class="fa fa-twitter"></i>
                    </a>
                    <a class="symbol" href="http://weibo.com">
                      <i class="fa fa-weibo"></i>
                    </a>
                </div>
                <p class="small">
                    © 版权所有 alshin
                </p>
            </footer>
        </section>

    </body>
</html>
