<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>
        {% include header.html %}
        <section id="content">
            <div class="container time about-us">
                <h2>时间线</h2>
                <div class="timeline">
                    <div class="timeline-item">
                        <div class="timeline-icon">
                            <i class="iconfont icon-star-o"></i>
                        </div>
                        <div class="timeline-content right">
                            <h3>2015年1月1日</h3>
                            <p>石狮微莱成立</p>
                        </div>
                    </div>
                    <div class="timeline-item">
                        <div class="timeline-icon">
                            <i class="iconfont icon-star-o"></i>
                        </div>
                        <div class="timeline-content">
                            <h3>2005年</h3>
                            <p>新加坡、美国、香港、澳门、加拿大</p>
                        </div>
                    </div>
                    <div class="timeline-item">
                        <div class="timeline-icon">
                            <i class="iconfont icon-star"></i>
                        </div>
                        <div class="timeline-content right">
                            <h3>2004年</h3>
                            <p>美国、香港、澳门、加拿大</p>
                        </div>
                    </div>
                    <div class="timeline-item">
                        <div class="timeline-icon">
                            <i class="iconfont icon-star-o"></i>
                        </div>
                        <div class="timeline-content">
                            <h3>2003年</h3>
                            <p>香港、澳门、加拿大</p>
                        </div>
                    </div>
                    <div class="timeline-item">
                        <div class="timeline-icon">
                            <i class="iconfont icon-star"></i>
                        </div>
                        <div class="timeline-content right">
                            <h3>2002年</h3>
                            <p>微莱前身金越出入境成立，专注投资移民：澳门、加拿大</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
